<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LaberMaker2.Main.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="LaberMaker2.Main.My.MySettings.SQLConnString" connectionString="Provider=SQLNCLI11;Server=10.0.0.209\prod;Database=VNData;User Id=sa;Password=400BrightonRoad;" />
    <add name="VNDataEntitiesConnectionString" connectionString="metadata=res://LabelMaker2.Infrastructure/DataModel1.csdl|res://LabelMaker2.Infrastructure/DataModel1.ssdl|res://LabelMaker2.Infrastructure/DataModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=M4800;Initial Catalog=VNData;Integrated Security=True;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <LaberMaker2.Main.My.MySettings>
      <setting name="BartendExe" serializeAs="String">
        <value>C:\Program Files\Seagull\BarTender 2021\bartend.exe</value>
      </setting>
      <setting name="DB_ODBC" serializeAs="String">
        <value>VNData</value>
      </setting>
      <setting name="DocumentPath" serializeAs="String">
        <value>E:\projects\Clients\VanNess\LaberMaker2\Formats</value>
      </setting>
      <setting name="BatchPath" serializeAs="String">
        <value>E:\projects\Clients\VanNess\LaberMaker2\Batches</value>
      </setting>
    </LaberMaker2.Main.My.MySettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>